.heading {

  font-style: italic;
  font-display: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 100px;
  color: rgb(129, 83, 83);
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

iframe{
  width: 350px;
  height: 400px;
  padding-left: 50px;
  border: none;
  overflow: hidden;
}

.scroller {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
  overflow: scroll;
  white-space: nowrap;
}
.up-events {
  width: 100%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 390px;
  position: relative;
  overflow: hidden;
}
.up-events-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20bf6b;
}
.up-events-content h2 {
  color: #364457;
  border-bottom: 2px solid rgb(211, 206, 206);
  width: 80%;
  text-align: center;
  padding: 15px 0px;
}
.events-list {
  overflow: hidden;
  padding: 0px 10px;
}
.up-events ul {
  position: relative;
  animation: scrollup 6s linear infinite;
}
.up-events .events-list:hover ul {
  animation-play-state: paused;
  transform: translateY(0%);
}

.up-events ul li {
  position: relative;
  list-style: none;
  padding-left: 40px;
  padding-right: 5px;
  padding-top: 3px;
  margin: 10px 0px;
  color: white;
  z-index: 5;
  cursor: pointer;
}
.up-events li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid white;
  transition: 0.7s;
  transition-delay: 0.2s;
}
.up-events li::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 8px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.up-events ul li:hover::before {
  width: 100%;
  border-radius: 16px;
  background-color: #55efc4;
  z-index: -5;
}
.up-events ul li:hover::after {
  top: 11px;
  left: 13px;
  transform: scale(1.3) rotate(45deg);
}
.up-events .blur {
  backdrop-filter: blur(10px);
  background-color: #45aaf2;
  pointer-events: none;
  user-select: none;
  filter: blur(2px);
}

.rectangle {
  width: 30%;
  height: 70%;
  display: flexbox;
  justify-content: space-between;
  position: absolute;
  top: 305px;
  bottom: auto;
  left: 50px;
  align-items: center;
  z-index: 50;
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}
.rectangle1 {
  width: 30%;
  height: 70%;
  display: flexbox;
  justify-content: space-between;
  position: absolute;
  top: 225px;
  bottom: 200px;
  left: 525px;
  right: 125px;
  align-items: center;
  z-index: 50;
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}

.rectangle2 {
  width: 30%;
  height: 70%;
  display: flexbox;
  justify-content: -space-between;
  position: absolute;
  top: 305px;
  bottom: auto;
  left: 955px;
  align-items: center;
  overflow: hidden;
  z-index: 50;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}

.fb {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

.inst {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

.twit {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}
.rectangle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rectangle1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rectangle2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ions {
  background-color: #4968ad;
  padding: 20px 150px;
}
.ions1 {
  background: linear-gradient(130deg, #6e7691 20%, #fd2b93, #ff5819, #ffffff);
  padding: 20px 150px;
}
.ions2 {
  background-color: #49a1eb;
  padding: 20px 150px;
}
a.facebook {
  color: #f3f4f7;
}

a.twitter {
  color: #f3f4f7;
}

a.instagram {
  color: linear-gradient(130deg, #365adb 20%, #fd2b93, #ff5819, #ffffff);;
}

